body {
    background-color: rgb(156, 196, 241);
    color: rgb(12, 48, 88);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

nav {
    display: flex;
    justify-content: space-around;
    padding: 22px;
    border-bottom: 1px solid rgb(12, 48, 88);
    align-items: center;
}

nav ul {
    display: flex;
    list-style: none;
}
ul li {
    margin-right: 14px;
}

ul li a {
    color: rgb(12, 48, 88);
}

footer {
    padding: 20px;
    border-top: 1px solid rgb(12, 48, 88);
}